<p-dialog
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [modal]="true"
  [showHeader]="false"
  [style]="{ width: '560px', top: '-20vh' }"
  styleClass="to-command-palette"
>
  <div class="to-command-palette__search">
    <tabler-icon [icon]="icons['search']" [size]="18" class="to-command-palette__search-icon" />
    <input
      #searchInput
      type="text"
      class="to-command-palette__input"
      placeholder="Search screens…"
      [value]="query()"
      (input)="onQueryInput($event)"
      (keydown.escape)="close()"
      (keydown)="onResultsKeydown($event)"
    />
    <kbd class="to-command-palette__kbd">Esc</kbd>
  </div>

  <div class="to-command-palette__hint">Jump to a screen</div>

  <ul class="to-command-palette__results">
    @for (item of results(); track item.route; let i = $index) {
      <li>
        <button
          type="button"
          class="to-command-palette__result"
          [class.to-command-palette__result--active]="i === activeIndex()"
          (mouseenter)="setActive(i)"
          (click)="select(item)"
        >
          <span class="to-command-palette__result-icon">
            <tabler-icon [icon]="icons[item.icon]" [size]="16" />
          </span>
          <span class="to-command-palette__result-label">{{ item.label }}</span>
          <tabler-icon
            [icon]="icons['chevron-right']"
            [size]="14"
            class="to-command-palette__result-arrow"
          />
        </button>
      </li>
    } @empty {
      <li class="to-command-palette__empty">
        <tabler-icon [icon]="icons['search']" [size]="20" class="to-command-palette__empty-icon" />
        <span>No screens match "{{ query() }}"</span>
      </li>
    }
  </ul>
</p-dialog>
